<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Registrate'}) %>
<body>
	<!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresa tus datos</h2>
			</div>
		</div>
		<div class="col-12">
			<form action="" method="POST">
				<div class="row product-detail">
					<div class="col-8 col-md-6">
						<label for="email" class="form-label">Email:</label>
						<input type="email" id="email" name="email" placeholder="Ej: borbotones@gmail.com" class="form-input" value="<%= locals.old && old.email %>">
						<small style="color: red; font-size: 12px;"><%= locals.errors && errors.email ? errors.email.msg :null %></small>
					</div>
					<div class="col-8 col-md-6">
						<label for="password" class="form-label">Contraseña:</label>
						<input type="password" id="password" name="password" placeholder="Ej: xxxxxxx" class="form-input" value="<%= locals.old && old.password %>">
						<small style="color: red; font-size: 12px;"><%= locals.errors && errors.password ? errors.password.msg :null %></small>
					</div>
                    <label class="text-center" style=" font-size: 15px" for="recuerdame">Recuerdame</label>
                    <input type="checkbox" >
					
					<div class="col-8 ">
						<button type="submit" class="buy-now-button auto">Ingresa</button>
					</div>
				</div>
			</form>
		</div>

	</div>
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>